* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html,body {
    color : #333;
    background: #FFF;
    font-family: "Andale Mono", sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-wrapper {
    height: 100%;
    width: 100%;
}

.nav-wrapper {
    background-color: #1e3246;
    color: #FFF;
    width: 220px;
    float: left;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    font-size: 12px;
    font-weight: 200;
    top: 0px;
}

.nav-wrapper > .nav-brand {
    color: #FFF;
    height: 65px;
    font-size: 30px;
    line-height: 70px;
    display: block;
}

.nav-wrapper  > .nav-brand a {
    color: #a9a9a9;
}

.nav-wrapper  > .nav-brand a:hover {
    color: #fff;
    background: none;
    text-decoration: none;
}

.nav-wrapper > .nav-brand > span {
    font-size: 35px;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
}

.nav-wrapper li {
    text-indent: 10px;
    line-height: 40px;
}

.nav-menu {
    background: #1e3246;
    color: #FFF;
    float: left;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.nav-menu li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
}

.nav-menu li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.nav-menu  li a:active,
.nav-menu  li a:focus {
    text-decoration: none;
    background-color: rgba(95,128,160,1);
}

.nav-menu  li a:hover {
    text-decoration: none;
    /*background-color: rgba(95, 128, 160, 0.45);*/
    background-color: rgba(95,128,160,1);

    background: -moz-linear-gradient(-45deg, rgba(95,128,160,1) 0%, rgba(93,28,117,0.47) 47%, rgba(93,28,117,0) 89%, rgba(93,28,117,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(95,128,160,1) 0%,rgba(93,28,117,0.47) 47%,rgba(93,28,117,0) 89%,rgba(93,28,117,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(95,128,160,1) 0%,rgba(93,28,117,0.47) 47%,rgba(93,28,117,0) 89%,rgba(93,28,117,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f80a0', endColorstr='#005d1c75',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: rgba(95,128,160,1);
}

.content {
    padding-left: 20px;
    padding-top: 10px;
    position: absolute;
}

.content-wrapper {
    width: calc(100% - 220px);
    height: 100%;
    padding: 0px;
    background:#FFF;
    float: right;
    overflow: visible;
}

.content {
    width: calc(100% - 220px);
    padding-right: 20px;
    padding-bottom: 100px;
    padding-left: 30px;

}

.content-header {
    padding: 10px;
    padding-top: 20px;
    padding-left: 15px;

}

.content-header h1 {
    display: inline;
}

.content-header div {
    vertical-align: initial;
}

.btn-primary {
    color: #ffffff;
    background-color: #5f80a0;
    border-color: #5f80a0;
}

.btn {
    margin-right: 10px;
}

.btn-toolbar {
    margin-left: -5px;
    margin-right: -10px;
}

.modal-header {
    background-color: #1e3246;
}

.modal-title {
    color: #ffffff;
}

.modal-body h3 {
    margin-top: 5px;
}

dl {
    overflow: auto;
}

.Select {
    font-size: 14px;
}

.widget {
    border: 0px;
}

.widget>.panel-heading {
    color: #fff;
    background-color: #5f80a0;
    border-bottom: 0px;

    background: -moz-linear-gradient(-45deg, rgba(95,128,160,1) 0%, rgba(93,28,117,0.47) 47%, rgba(93,28,117,0) 89%, rgba(93,28,117,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(95,128,160,1) 0%,rgba(93,28,117,0.47) 47%,rgba(93,28,117,0) 89%,rgba(93,28,117,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(95,128,160,1) 0%,rgba(93,28,117,0.47) 47%,rgba(93,28,117,0) 89%,rgba(93,28,117,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f80a0', endColorstr='#005d1c75',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.panel {
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

.widget>.panel {
    border: 0px;
    box-shadow: 0 0px;
}
