* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html,body {
    color : #333;
    background: #FFF;
    font-family: "Andale Mono", sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-wrapper {
    height: 100%;
    width: 100%;
}

.nav-wrapper {
    background-color: #2c3e50;
    color: #FFF;
    width: 220px;
    float: left;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    font-size: 12px;
    font-weight: 200;
    top: 0px;
}

.nav-wrapper > .nav-brand {
    color: #FFF;
    height: 65px;
    font-size: 30px;
    line-height: 70px;
    display: block;
}

.nav-wrapper  > .nav-brand a {
    color: #a9a9a9;
}

.nav-wrapper  > .nav-brand a:hover {
    color: #fff;
    background: none;
    text-decoration: none;
}

.nav-wrapper > .nav-brand > span {
    font-size: 35px;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
}

.nav-wrapper li {
    text-indent: 10px;
    line-height: 40px;
}

.nav-menu {
    background: #2c3e50;
    color: #FFF;
    float: left;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.nav-menu li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.nav-menu li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.nav-menu  li a:active,
.nav-menu  li a:focus {
    text-decoration: none;
}

.content {
    padding-left: 20px;
    padding-top: 10px;
    position: absolute;
}

.content-wrapper {
    width: calc(100% - 220px);
    height: 100%;
    padding: 0px;
    background:#FFF;
    float: right;
    overflow: visible;
}

.content {
    width: calc(100% - 220px);
    padding-right: 20px;
    padding-bottom: 100px;

}

.content-header {
    padding: 10px;
    padding-top: 20px;

}

.content-header h1 {
    display: inline;
}

.content-header div {
    vertical-align: initial;
}

.btn-primary {
    color: #ffffff;
    background-color: #5f80a0;
    border-color: #5f80a0;
}

.btn {
    margin-right: 10px;
}

.btn-toolbar {
    margin-left: -5px;
    margin-right: -10px;
}

.modal-header {
    background-color: #2c3e50;
}

.modal-title {
    color: #ffffff;
}

.modal-body h3 {
    margin-top: 5px;
}

dl {
    overflow: auto;
}

.Select {
    font-size: 14px;
}

.widget>.panel-heading {
    color: #fff;
    background-color: #5f80a0;
    border-color: #2c3e50;
}

.widget {
    border-color: #2c3e50;
}
