* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html,body {
    color : #333;
    background: #FFF;
    font-family: "Andale Mono", sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
}

a, a:hover {
    color: #670e84;
}

hr {
    display: block;
    border: none;
    color: white;
    height: 2px;
    background: black;
    background: -moz-linear-gradient(-45deg,
        rgba(93,28,117,0) 0%,
        rgba(93,28,117,0) 9%,
        rgba(95,128,160,1) 30%,
        rgba(93,28,117,0.47) 60%,
        rgba(93,28,117,0) 89%,
        rgba(93,28,117,0) 100%
    );
    background: -webkit-linear-gradient(-45deg,
        rgba(93,28,117,0) 0%,
        rgba(93,28,117,0) 9%,
        rgba(95,128,160,1) 30%,
        rgba(93,28,117,0.47) 60%,
        rgba(93,28,117,0) 89%,
        rgba(93,28,117,0) 100%
        );
    background: linear-gradient(135deg,
        rgba(93,28,117,0) 0%,
        rgba(93,28,117,0) 9%,
        rgba(95,128,160,1) 30%,
        rgba(93,28,117,0.47) 60%,
        rgba(93,28,117,0) 89%,
        rgba(93,28,117,0) 100%
    );
}

.main-wrapper {
    height: 100%;
    width: 100%;
}

.nav-wrapper {
    background-color: #1e3246;
    color: #FFF;
    width: 220px;
    float: left;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    font-size: 12px;
    font-weight: 200;
    top: 0px;
}

.nav-wrapper > .nav-brand {
    color: #FFF;
    height: 65px;
    font-size: 30px;
    line-height: 70px;
    display: block;
}

.nav-wrapper  > .nav-brand a {
    color: #fff;
}

.nav-wrapper  > .nav-brand a:hover {
    color: #a9a9a9;
    background: none;
    text-decoration: none;
}

.nav-wrapper > .nav-brand > span {
    font-size: 35px;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
}

.nav-wrapper li {
    text-indent: 10px;
    line-height: 40px;
}

.nav-menu {
    background: #1e3246;
    color: #FFF;
    float: left;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.nav-menu li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
}

.nav-pills>li>a:focus, .nav-pills>li>a:hover {
    background: -moz-linear-gradient(-45deg, rgba(95,128,160,1) 0%, rgba(93,28,117,0.47) 47%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(95,128,160,1) 0%,rgba(93,28,117,0.47) 47%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(95,128,160,1) 0%,rgba(93,28,117,0.47) 47%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    background-color: rgba(95,128,160,1);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background: -moz-linear-gradient(-45deg,  rgba(93,28,117,0.77) 0%, rgba(95,128,160,1) 77%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(93,28,117,0.77) 0%, rgba(95,128,160,1) 77%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(93,28,117,0.77) 0%, rgba(95,128,160,1) 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    background-color: rgba(95,128,160,1);
}

.content {
    padding-left: 20px;
    padding-top: 10px;
    position: absolute;
}

.content-wrapper {
    width: calc(100% - 220px);
    height: 100%;
    padding: 0px;
    background:#FFF;
    float: right;
    overflow: visible;
}

.content {
    width: calc(100% - 220px);
    padding-right: 20px;
    padding-bottom: 100px;
    padding-left: 30px;

}

.content-header {
    padding: 10px;
    padding-top: 20px;
    padding-left: 15px;

}

.content-header h1 {
    display: inline;
}

.content-header div {
    vertical-align: initial;
}

.btn-primary {
    color: #ffffff;
    background-color: #5f80a0;
    border-color: #5f80a0;
}

.btn {
    margin-right: 10px;
}

.btn-toolbar {
    margin-left: -5px;
    margin-right: -10px;
}

.modal-header {
    background-color: #5f80a0;

    background: -moz-linear-gradient(-45deg,  rgba(93,28,117,0.77) 0%, rgba(95,128,160,1) 77%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(93,28,117,0.77) 0%, rgba(95,128,160,1) 77%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(93,28,117,0.77) 0%, rgba(95,128,160,1) 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.modal-title {
    color: #ffffff;
}

.modal-body h3 {
    margin-top: 5px;
}

dl {
    overflow: auto;
}

.Select {
    font-size: 14px;
}

.widget {
    border: 0px;
}

.widget>.panel-heading {
    color: #fff;
    background-color: #5f80a0;
    border-bottom: 0px;

    background: -moz-linear-gradient(-45deg, rgba(95,128,160,1) 0%, rgba(93,28,117,0.47) 47%, rgba(93,28,117,0) 89%, rgba(93,28,117,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(95,128,160,1) 0%,rgba(93,28,117,0.47) 47%,rgba(93,28,117,0) 89%,rgba(93,28,117,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(95,128,160,1) 0%,rgba(93,28,117,0.47) 47%,rgba(93,28,117,0) 89%,rgba(93,28,117,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.panel {
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

.widget>.panel {
    border: 0px;
    box-shadow: 0 0px;
}

.Select--multi .Select-value {
    color: #2ba2de;
    background-color: rgb(234, 233, 255);
}

.alert-success {
    background-color: rgb(234, 233, 255);
    border: 1px solid rgba(0,126,255,.24);
    color: #2ba2de;
}

.alert {
    padding: 10px;
}


/*
*/
/* Toggle Switches */
/*
*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgb(141, 185, 228) 0%, rgb(232, 201, 249) 77%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: linear-gradient(135deg, rgb(232, 201, 249) 0%, rgb(141, 185, 228) 77%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.invalid-message {
    color: #d9534f;
    font-weight: bold;
}

.awsm_logo_nav {
    width: 70px;
    padding-left: 10px;
    padding-bottom: 10px;
}